.menu-icon {
  font-size: 1.35rem;
}

.header-avatar > .p-avatar{
  width: 2.35rem;
  height: 2.35rem;
}

.header-menu-avatar > .p-avatar.p-avatar-image{
  width: 50px;
  height: 50px;
}

.header-menu-avatar > .p-avatar > img{
  width: 60px;
  height: 60px;
}

.header-menu-avatar > .p-avatar > .pi-user.p-avatar-icon{
  transform: scale(2);
}
