<div class="flex flex-row flex-nowrap align-items-stretch justify-content-start ml-1 sm:ml-2 mr-1 sm:mr-2 mt-2 mb-2">

  <a title="Menu" href="javascript:void(0)" class="flex flex-row align-items-center disable-link-styling">
    <i (click)="menuTogglerClicked.emit()" class="pi pi-bars menu-icon text-0 pl-2 pr-2"></i>
  </a>

  <div class="flex flow-row align-items-center ml-2">
    <a routerLink="/app" class="disable-link-styling" (click)="appTitleClicked.emit()">
      <span class="text-200 font-medium text-3xl">Simple Trading</span>
    </a>
  </div>

  <div class="flex flex-row align-items-center ml-auto pr-2">
    <p-avatar icon="pi pi-user" shape="circle" size="large" class="header-avatar p-link"
      (click)="menu.toggle($event)" />
  </div>


  <div class="card flex justify-content-center">
    <p-menu #menu [model]="items" styleClass="w-auto" [popup]="true">
      <ng-template pTemplate="start">
        <!-- <p-button pRipple class="p-link flex align-items-center p-2 text-color hover:surface-200 border-noround">
          <p-avatar [image]="userPictureObjectUrl" [icon]="!userPictureObjectUrl ? 'pi pi-user' : ''"
            class="mr-2 header-menu-avatar" shape="circle" />
          <span class="inline-flex flex-column">
            <span class="font-bold">{{ (appUser$ | async)?.firstName }} {{ (appUser$ | async)?.lastName }}</span>
            <span class="text-sm mt-1">{{ (appUser$ | async)?.email }}</span>
          </span>
        </p-button> -->
      </ng-template>


      <ng-template pTemplate="submenuheader" let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>
      <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
        </a>
      </ng-template>
    </p-menu>
  </div>
</div>