<div class="landing-page-layout h-screen">

  <div class="landing-page-header flex flex-row align-items-center justify-content-end surface-800">
    <div class="m-2 mr-4 ">
      <p-button label="Login" severity="secondary" size="small" (click)="login()" />
    </div>
  </div>


  <div class="landing-page-content-left flex flex-column align-items-center surface-100">
    <div class="mt-8 w-16rem lg:w-20rem">
      <div><span class="text-5xl font-semibold text-700 uppercase">
          <span class="text-primary">Simple </span>Trading</span>
      </div>
      <div class="mt-2 w-16rem lg:w-20rem"><span class="text-lg">Helps you to keep track of your trades in a simple
          manner, because there's beauty in simplicity.</span></div>
    </div>
  </div>

  <div class="landing-page-content-right surface-100">
    <img src="/assets/stock-exchange-board.jpg" class="scale-image" width="100%" alt="Scale" />
  </div>
</div>