name: Continuous Integration

on:
  push:
    branches: ["**"]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Run Conventional Commits check
        uses: webiny/action-conventional-commits@v1.3.0

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup node 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Build
        run: |
          npm install
          npm run build
