.side-nav-menu.p-menu {
  margin-top: 18px;
  border: none;
}

.side-nav-menu.p-menu >  ul > li > div > a {
  padding-left: 18px;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: none;
}

.side-nav-git-link > .pi-github {
  font-size: 1.4rem;
}
